.border{
    border: 2px solid red;
    margin: 2px;
}
.flex{
    display: flex;
}
.bg-gray{
    background: #121212;
    
}
.bg-black{
    background: black;
    color: white;
    
}
.invert{
    filter: invert(1);
}
.rounded{
    border-radius: 12px;
}
.m-1{
    margin: 5px;
}

.m-2{
    margin: 5px;
    margin: 13px 0px;
}

.p1{
    padding: 20px;
}